<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
</head>
<body layout:fragment="body">
<main role="main" class="container">
  <h1>Hubo un Error</h1>
  <h2 th:text="${mensajeError}">Un error ocurrió.</h2>
  <a th:href="@{/}" class="btn btn-secondary mt-3">Volver al menú principal</a>
</main>
</body>
</html>
