<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Encuesta</title>
</head>
<body>
<div layout:fragment="body">
<main role="main" class="container">
    <h1 th:text="'Detalles de la Encuesta: ' + ${encuesta.titulo}">Detalles de la Encuesta</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${encuesta.titulo}">Título de la Encuesta</h5>
            <p class="card-text" th:text="${encuesta.descripcion}">Descripción de la Encuesta</p>
            <p class="card-text">
                <strong>Fecha Límite:</strong> <span th:text="${encuesta.fechaLimite}">Fecha Límite de la Encuesta</span>
            </p>
            <h5 class="card-title">Pilotos Seleccionados</h5>
            <ul>
                <li th:each="piloto : ${encuesta.pilotos}">
                    <span th:text="${piloto}">Piloto</span>
                </li>
            </ul>
        </div>
    </div>

    <a th:href="@{/encuestas}" class="btn btn-secondary mt-3">Volver a Encuestas</a>
</main>
</div>
</body>
</html>
