<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gestión de Equipos</title>
</head>
<body>
<div layout:fragment="body">
  <h1>Gestión de Equipos</h1>
  <a th:href="@{/equipos/crear}" class="btn btn-primary">Crear un Equipo</a>
  <a onclick="history.back()" class="btn btn-danger">Salir al Menú Anterior</a>
</div>
</body>
</html>
